@charset "UTF-8";
.section__status::before {
  content: '';
  border-right: 2px solid #EAEAEA;
  background: #EAEAEA;
  height: 32px;
  border-radius: 1px; }

.burger-nav__btn::before, .head__title::before {
  position: relative;
  border-right: 4px solid #41F6D7;
  background: #41F6D7;
  width: 8px;
  height: 32px;
  border-radius: 5px;
  transition-duration: 1ms; }

.header, .brands__title, .technic__title, .price__title {
  display: flex;
  align-items: center;
  background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
  box-shadow: 0 -1px 0 0 #d9fff5;
  height: 80px;
  top: calc(50% - 48px/2 - 77px);
  padding-left: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  text-transform: uppercase; }

.brands__limiter-btn::before, .technic__limiter-btn::before, .text__limiter-btn::before {
  content: '';
  position: relative;
  top: 5px;
  background: url(./static/ic-expand-down.svg) no-repeat;
  width: 7.41px;
  height: 10.29px; }

.brands .brands__limiter-btn--closer::before, .technic__limiter-btn--closer::before, .text__limiter-btn--closer::before {
  content: '';
  position: relative;
  top: 5px;
  background: url(./static/ic-expand-up.svg) no-repeat;
  width: 7.41px;
  height: 10.29px; }

.brands__limiter-btn, .technic__limiter-btn {
  font-family: 'TT Lakes Medium';
  display: none;
  line-height: 24px;
  letter-spacing: -0.2px;
  gap: 16px;
  padding-top: 24px;
  color: #1B1C21;
  background: none;
  border: none; }

.brands .brands__limiter-btn--closer, .technic__limiter-btn--closer {
  font-family: 'TT Lakes Medium';
  display: none;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-top: 24px;
  gap: 16px;
  color: #1B1C21;
  background: none;
  border: none; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

.header {
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #d9fff5;
  min-height: 87px;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1; }
  @media (min-width: 768px) {
    .header {
      padding: 0 24px; } }
  @media (min-width: 1366px) {
    .header {
      display: none; } }
  .header__section {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-content: center;
    align-items: center; }

@media (min-width: 425px) {
  .section__burger {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-content: center;
    align-items: center; }
    .section__burger::after {
      content: '';
      border-right: 2px solid #EAEAEA;
      background: #EAEAEA;
      height: 32px;
      border-radius: 1px; } }

.section__contact {
  display: none;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
  align-items: center; }
  @media (min-width: 510px) {
    .section__contact {
      display: flex; } }

.status {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
  align-items: center; }

.menu-burger {
  position: absolute;
  top: 0;
  left: -200%;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  width: 100%;
  height: 200%;
  z-index: 1;
  overflow: auto; }
  @media (min-width: 360px) {
    .menu-burger {
      width: 360px; } }
  @media (min-width: 1366px) {
    .menu-burger {
      position: sticky;
      float: left;
      width: 320px;
      box-shadow: none;
      height: 150vmax;
      overflow: hidden; } }
  .menu-burger__section {
    padding: 0 16px;
    display: flex; }
    @media (min-width: 360px) {
      .menu-burger__section {
        padding: 0 24px; } }

.section-head {
  align-items: center;
  justify-content: space-between;
  min-height: 88px; }
  .section-head__left {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-content: center;
    align-items: center; }

@media (min-width: 1366px) {
  .burger-close {
    display: none; } }

.section-nav {
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-bottom: 32px; }
  @media (min-width: 768px) {
    .section-nav {
      padding-top: 24px;
      padding-bottom: 268px; } }

.burger-nav {
  font-family: 'TT Lakes Medium';
  display: inline-flex;
  flex-direction: column; }
  .burger-nav__btn::before {
    content: '';
    transform: translate(-24px);
    top: 13px;
    opacity: 0; }
    @media (min-width: 360px) {
      .burger-nav__btn::before {
        transform: translate(-32px); } }
  .burger-nav__btn:hover::before {
    opacity: 1; }

.btn {
  display: inline-flex;
  border: none;
  background: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  padding: 0; }

.btn p:hover {
  opacity: 0.5;
  transition-duration: 500ms; }

.section-burger-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 0 16px; }
  .section-burger-footer__contact {
    display: flex;
    gap: 16px; }

@media (min-width: 360px) {
  .section-burger-footer {
    padding: 0 24px; } }

.contact__email {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left; }

.contact__number {
  height: 32px;
  top: calc(50% - 32px/2 + 400px);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 900; }

.email {
  text-decoration: none;
  color: #1B1C21; }

.number {
  text-decoration: none;
  color: #1B1C21; }

.lang {
  display: flex;
  gap: 7px; }

.menu-burger--open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition-duration: 500ms; }

.menu-burger--closer {
  position: absolute;
  top: 0;
  left: -200%;
  transition-duration: 700ms; }

.main {
  background-color: #F8F8F8; }
  .main__head {
    padding-bottom: 24px; }
    @media (min-width: 768px) {
      .main__head {
        padding-bottom: 32px; } }
    @media (min-width: 1366px) {
      .main__head {
        padding-bottom: 50px; } }

.head__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 16px; }
  @media (min-width: 768px) {
    .head__container {
      padding: 24px 24px; } }
  @media (min-width: 1366px) {
    .head__container {
      padding-top: 42px;
      padding-bottom: 15px; } }

.head__title {
  font-family: 'TT Lakes Bold';
  position: relative;
  display: flex;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21; }
  .head__title::before {
    content: '';
    position: absolute;
    top: 4px;
    transform: translate(-24px); }
  @media (min-width: 768px) {
    .head__title::before {
      transform: translate(-32px); } }

.head__status {
  display: none;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px; }
  @media (min-width: 1366px) {
    .head__status {
      display: flex;
      -moz-column-gap: 32px;
           column-gap: 32px; } }

.submit-head::before {
  font-family: 'TT Lakes Medium';
  content: 'Оставить заявку';
  position: relative;
  top: -13px;
  left: -8px;
  font-size: 16px;
  letter-spacing: -0.2px; }

.check-status-head::before {
  font-family: 'TT Lakes Medium';
  content: 'Статус ремонта';
  position: relative;
  top: -13px;
  left: -8px;
  font-size: 16px;
  letter-spacing: -0.2px; }

.side-main {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  padding-top: 24px; }
  @media (min-width: 768px) {
    .side-main {
      padding-top: 32px; } }
  @media (min-width: 1366px) {
    .side-main {
      flex-wrap: wrap;
      padding-top: 8px; } }
  .side-main__btn {
    background: none;
    line-height: 24px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    text-align: center;
    padding: 8px 9px 8px 16px;
    color: #7E7E82;
    border: 2px solid transparent; }
    .side-main__btn:hover {
      border: 2px solid  #B8FFEC;
      background: #FFFFFF;
      border-radius: 6px; }

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px; }
  @media (min-width: 640px) {
    .content {
      flex-wrap: nowrap;
      padding: 0 24px; } }
  @media (min-width: 1366px) {
    .content {
      padding: 0 34px; } }
  .content__section {
    padding-bottom: 16px; }

@media (min-width: 768px) {
  .main-content {
    gap: 16px; } }

.text {
  width: 288px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px; }
  @media (min-width: 768px) {
    .text {
      width: 312px; } }
  @media (min-width: 1366px) {
    .text {
      padding-top: 20px; } }
  .text__limiter-btn {
    font-family: 'TT Lakes Medium';
    padding-top: 16px;
    display: flex;
    background: none;
    gap: 16px;
    border: none;
    line-height: 24px;
    letter-spacing: -0.2px; }
    @media (min-width: 768px) {
      .text__limiter-btn {
        padding-top: 10px; } }

.text--height {
  height: 90px; }
  @media (min-width: 768px) {
    .text--height {
      height: 160px; } }

.text__limiter-btn--closer {
  font-family: 'TT Lakes Medium';
  padding-top: 16px;
  display: flex;
  background: none;
  gap: 16px;
  border: none;
  line-height: 24px;
  letter-spacing: -0.2px; }

.content__img {
  background-image: url(./static/Mask.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 176px;
  min-width: 100%; }
  @media (min-width: 640px) {
    .content__img {
      min-height: 208px;
      min-width: 360px;
      border-radius: 6px; } }
  @media (min-width: 1000px) {
    .content__img {
      min-height: 307px;
      min-width: 531px; } }

.brands__container {
  flex-direction: column;
  padding: 24px 16px;
  padding-top: 16px; }
  @media (min-width: 768px) {
    .brands__container {
      display: flex;
      flex-wrap: wrap;
      padding: 32px 24px;
      padding-top: 24px; } }
  @media (min-width: 1366px) {
    .brands__container {
      padding: 50px 32px;
      padding-top: 24px; } }

@media (min-width: 768px) {
  .brands__title {
    padding-left: 24px; } }

@media (min-width: 1366px) {
  .brands__title {
    padding-left: 32px; } }

@media (min-width: 768px) {
  .brands__limiter-btn {
    display: inline-flex; } }

@media (min-width: 768px) {
  .brands .brands__limiter-btn--closer {
    display: inline-flex; } }

.swiper-wrapper {
  gap: 16px;
  display: flex; }
  @media (min-width: 768px) {
    .swiper-wrapper {
      display: flex;
      -moz-column-gap: 21px;
           column-gap: 21px;
      flex-wrap: wrap;
      overflow: hidden; } }
  @media (min-width: 1120px) {
    .swiper-wrapper {
      -moz-column-gap: 32px;
           column-gap: 32px; } }

.swiper-wrapper--height {
  height: auto; }
  @media (min-width: 768px) {
    .swiper-wrapper--height {
      height: 160px; } }

.brands__slide {
  justify-content: space-between;
  height: 72px;
  align-items: center; }

.swiper-slide {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  display: flex;
  width: 240px; }
  @media (min-width: 768px) {
    .swiper-slide {
      width: 224px; } }
  .swiper-slide__bitmap {
    margin: 14px; }
  .swiper-slide__ic-go {
    margin: 14px; }

.swiper-pagination {
  position: static;
  margin-top: 16px; }

.swiper-pagination-bullet {
  background: #DDDDDD !important;
  width: 12px;
  height: 12px; }

.swiper-pagination-bullet-active {
  background: #B5B6BC !important; }

@media (min-width: 768px) {
  .technic__title {
    padding-left: 24px; } }

@media (min-width: 1366px) {
  .technic__title {
    padding-left: 32px; } }

.technic__container {
  display: flex;
  padding: 24px 16px;
  padding-top: 16px; }
  @media (min-width: 768px) {
    .technic__container {
      padding: 32px 24px;
      padding-top: 24px; } }
  @media (min-width: 1366px) {
    .technic__container {
      padding: 50px 32px;
      padding-top: 24px; } }

@media (min-width: 768px) {
  .technic__limiter-btn {
    display: inline-flex; } }

@media (min-width: 768px) {
  .technic__limiter-btn--closer {
    display: inline-flex; } }

.technic__slide {
  height: 160px; }

.swiper-slide__ic-go {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px; }

.view {
  display: flex;
  justify-content: space-around; }
  .view__text {
    display: flex;
    justify-content: flex-start;
    padding: 15px; }

@media (min-width: 768px) {
  .price__title {
    padding-left: 24px; } }

@media (min-width: 1366px) {
  .price__title {
    padding-left: 32px; } }

.price__container {
  padding: 40px 16px;
  padding-top: 16px; }
  @media (min-width: 768px) {
    .price__container {
      padding: 47px 24px;
      padding-top: 24px; } }
  @media (min-width: 1366px) {
    .price__container {
      padding: 50px 32px;
      padding-top: 24px; } }

@media (min-width: 768px) {
  .price__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    gap: 0; } }

.price__slide {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 200px;
  justify-content: left;
  gap: 36px;
  padding: 36px 16px;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px; }
  @media (min-width: 768px) {
    .price__slide {
      display: grid;
      grid-template-columns: minmax(388px, 2.33fr) minmax(96px, 1fr) minmax(96px, 1fr) minmax(155px, 1fr);
      height: auto;
      border: none;
      width: auto;
      box-shadow: 0  -18px 0 -17px #EAEAEA;
      padding: 0;
      gap: 0;
      align-items: center;
      border-radius: 0; } }
  @media (min-width: 1180px) {
    .price__slide {
      max-width: 1056px;
      padding-left: 24px;
      padding-right: 24px; } }

@media (min-width: 768px) {
  .price__slide:nth-last-child(1) {
    border-radius: 0 0 6px 6px; } }

@media (min-width: 768px) {
  .price__slide:nth-child(2) {
    border-radius: 6px 6px 0 0;
    box-shadow: none; } }

.price__heading {
  display: none;
  grid-template-columns: minmax(388px, 2.33fr) minmax(96px, 1fr) minmax(96px, 1fr) minmax(125px, 1fr);
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  max-width: 1056px;
  mix-blend-mode: normal;
  opacity: 0.72; }
  @media (min-width: 768px) {
    .price__heading {
      display: grid;
      min-width: 720px; } }
  @media (min-width: 1180px) {
    .price__heading {
      padding-left: 24px;
      padding-right: 24px; } }

.price__service {
  position: relative; }
  @media (min-width: 768px) {
    .price__service {
      padding: 23px 16px;
      padding-right: 0; } }
  .price__service::before {
    content: 'Ремонтные услуги';
    position: absolute;
    top: -15px;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72; }
    @media (min-width: 768px) {
      .price__service::before {
        content: none; } }

.price__cost {
  position: relative; }
  @media (min-width: 768px) {
    .price__cost {
      padding: 23px 0; } }
  .price__cost::before {
    content: 'Цена';
    position: absolute;
    top: -15px;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72; }
    @media (min-width: 768px) {
      .price__cost::before {
        content: none; } }

.price__date {
  position: relative; }
  @media (min-width: 768px) {
    .price__date {
      padding: 23px 0; } }
  .price__date::before {
    content: 'Срок';
    position: absolute;
    top: -15px;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72; }
    @media (min-width: 768px) {
      .price__date::before {
        content: none; } }

.price__content {
  width: 288px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px; }
  @media (min-width: 500px) {
    .price__content {
      width: 421px;
      padding-top: 24px; } }

.price__btn {
  border: none;
  background: none;
  padding: 0;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: 199px;
  text-align: left; }
  .price__btn::after {
    position: relative;
    top: 7.5px;
    display: inline-block;
    content: '';
    background: url(./static/more.svg) no-repeat;
    width: 24px;
    height: 24px; }
  @media (min-width: 500px) {
    .price__btn {
      width: auto; } }

.swiper-slide__order {
  position: absolute;
  border: none;
  background: none;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: flex-end; }
  @media (min-width: 768px) {
    .swiper-slide__order {
      display: block;
      position: static;
      padding: 23px 16px;
      padding-left: 0; } }

.footer {
  display: flex;
  color: #7E7E82;
  font-size: 14px;
  box-shadow: 0 -1px 0 0 #d9fff5;
  padding: 16px;
  gap: 16px;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 500px) {
    .footer {
      display: grid;
      grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr); } }
  @media (min-width: 768px) {
    .footer {
      padding: 24px; } }

.modal {
  position: fixed;
  top: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.2);
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow: hidden; }
  @media (min-width: 360px) {
    .modal {
      width: 360px; } }
  .modal__top {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 88px; }
  .modal__main {
    padding: 0 16px;
    padding-bottom: 25px; }
    @media (min-width: 1366px) {
      .modal__main {
        padding: 24px; } }

@media (min-width: 1366px) {
  .modal-top {
    position: absolute; } }

.modal-top__close {
  padding: 24px 16px; }
  @media (min-width: 1366px) {
    .modal-top__close {
      padding: 0;
      position: fixed; } }

.modal-top .modal-top__close--right {
  right: 393px; }

.modal-main__title {
  font-family: 'TT Lakes Bold';
  display: flex;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  padding-bottom: 24px; }
  .modal-main__title::before {
    position: absolute;
    content: '';
    border-right: 4px solid #41F6D7;
    background: #41F6D7;
    width: 8px;
    height: 32px;
    border-radius: 5px;
    transform: translate(-23px);
    transition-duration: 1ms; }
    @media (min-width: 1366px) {
      .modal-main__title::before {
        transform: translate(-30px); } }

.modal-main__form {
  display: flex;
  gap: 16px;
  flex-direction: column; }

.modal-form__input-box {
  max-width: 288px;
  max-height: 48px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

.modal-form__message-box {
  min-height: 118px; }

.modal-form__content {
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82; }

.modal-form__content--red {
  color: #ff3e79; }

.modal-form__btn {
  display: inline-flex;
  border: none;
  background: none;
  padding: 0;
  justify-content: flex-end; }

.modal--closer {
  position: fixed;
  top: 0;
  right: -200%;
  transition-duration: 500ms; }

.modal--open {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition-duration: 500ms; }

body {
  font-family: 'TT Lakes';
  background-color: #F8F8F8;
  color: #1B1C21;
  opacity: 1;
  overflow-x: hidden; }
  @media (min-width: 1440px) {
    body {
      max-width: 1440px;
      margin: auto; } }

.opacity {
  opacity: 0.03;
  transition-duration: 1s; }

.btn-ic {
  border: 0;
  background: none;
  padding: 0; }

.main-section {
  position: relative;
  display: flex;
  flex-direction: column; }

::-webkit-scrollbar {
  width: 0; }


/*# sourceMappingURL=style.css.map*/