.header {
  @extend %head;
  background:$dopBgColor;
  box-shadow: 0 1px 0 0 $shadowColor;
  min-height: 87px;
  justify-content: space-between;
  padding: 0 16px;
	z-index: 1;
  @media (min-width: 768px) {
      padding: 0 24px;
  }
  @media (min-width: 1366px) {
      display:none;
  }
		&__section {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
		}
}


.section {
    @media (min-width: 425px){
		&__burger {
      display: flex;
      column-gap: 16px;
      justify-content: center;
      align-items: center;
    &::after{
    content: '';
    border-right: 2px solid #EAEAEA;
    background: #EAEAEA;
    height: 32px;
    border-radius: 1px;
		}
    
  }
}
		&__contact {
    display: none;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    
    @media (min-width: 510px) {
     display: flex;
		}

  }
		&__status {
        &::before{
      @extend %divider;
		}
  }
}
.status {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}

