.brands__container{
  flex-direction: column;
  padding:24px 16px;
  padding-top: 16px;
  @media (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  padding:32px 24px;
  padding-top: 24px;
  }
    @media (min-width: 1366px) {
  padding: 50px 32px;
  padding-top: 24px;
    }
}

.brands {
		&__title {
    @extend %head;
    @media (min-width: 768px) {
        padding-left:24px;
  }
    @media (min-width: 1366px) {
        padding-left:32px;
    }
  }
		&__limiter-btn {
 @extend %limiterBtn;
    @media (min-width: 768px) {
        display:inline-flex;
      }
		}

  .brands__limiter-btn--closer{
    @extend %limiterBtnCloser;
      @media (min-width: 768px) {
        display:inline-flex;
      }
    }

}

.swiper-wrapper {
   gap: 16px;
   display: flex;
   @media (min-width: 768px) {
      display: flex ;
      column-gap: 21px;
      flex-wrap: wrap;
      overflow: hidden;
}
   @media (min-width: 1120px) {
  
      column-gap: 32px;
  }
}

.swiper-wrapper--height {
      height:auto;
      @media (min-width: 768px) {
      height: 160px;
}

}
.brands__slide{
      justify-content: space-between;
      height: 72px;
      align-items: center;
}

.swiper-slide {
      background: $dopBgColor;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      display: flex;
      width: 240px;
      @media (min-width: 768px) {
      width: 224px;
      }

		&__bitmap {
        margin: 14px;
		}
		&__ic-go {
        margin: 14px;
		}
}


.swiper-pagination {
  position:static;
  margin-top: 16px;
}
.swiper-pagination-bullet {
   background: #DDDDDD !important;
   width: 12px;
   height: 12px;
}
.swiper-pagination-bullet-active {
background: #B5B6BC !important;
}
