
$bgColor: #F8F8F8;
$dopBgColor:#FFFFFF;
$text: #1B1C21;
$elementColor: #41F6D7;

@import './normalize.scss';
@import '../scss/fonts.scss';
@import './header.scss';
@import './burger-menu.scss';



body {
  font-family: 'TT Lakes';
  background-color: $bgColor;
  color: $text;
  opacity: 1;
}
.opacity{
  opacity: 0.1;
  transition-duration: 1s;
}

