
$bgColor: #F8F8F8;
$dopBgColor:#FFFFFF;
$text: #1B1C21;
$elementColor: #41F6D7;
%divider{
    border-right: 2px solid #EAEAEA;
    background: #EAEAEA;
    height: 32px;
    border-radius: 1px;
}

%up{
        content: '';
        position: relative;
        top: 5px;
        background: url('../img/ic-expand-down.svg') no-repeat;
        width:7.41px;
        height:10.29px;
}

%down{  
        content: '';
        position: relative;
        top: 5px;
        background: url('../img/ic-expand-up.svg') no-repeat;
        width:7.41px;
        height:10.29px;
}
@import './normalize.scss';
@import '../scss/fonts.scss';
@import './header.scss';
@import './burger-menu.scss';
@import './main-head.scss';
@import './main-brands.scss';
@import './main-technic.scss';




body {
  font-family: 'TT Lakes';
  background-color: $bgColor;
  color: $text;
  opacity: 1;
}
.opacity{
  opacity: 0.1;
  transition-duration: 1s;
}
.btn-ic{
  border:0;
  background: none;
  padding: 0;
}

