
$bgColor: #F8F8F8;
$dopBgColor:#FFFFFF;
$text: #1B1C21;
$elementColor: #41F6D7;
$shadowColor: rgba(217, 255, 245, 1);
$dopText:#7E7E82;


%divider{
    content: '';
    border-right: 2px solid #EAEAEA;
    background: #EAEAEA;
    height: 32px;
    border-radius: 1px;
};
%highlight{
   position: relative;
   border-right: 4px solid $elementColor;
   background: $elementColor;
   width: 8px;
   height: 32px;
   border-radius: 5px;
   transition-duration: 1ms;
}
%head{
   display: flex;
   align-items: center;
   background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
   box-shadow: 0 -1px 0 0 $shadowColor;
   height: 80px;
   top: calc(50% - 48px/2 - 77px);
    padding-left: 16px;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   color: $dopText;
   text-transform: uppercase;
}


%up{
        content: '';
        position: relative;
        top: 5px;
        background: url('../img/ic-expand-down.svg') no-repeat;
        width:7.41px;
        height:10.29px;
}

%down{  
        content: '';
        position: relative;
        top: 5px;
        background: url('../img/ic-expand-up.svg') no-repeat;
        width:7.41px;
        height:10.29px;
}

%limiterBtn{
    font-family: 'TT Lakes Medium';
    display: none;
   line-height: 24px;
   letter-spacing: -0.2px;
   gap: 16px;
   padding-top: 24px;
   color: $text;
   background: none;
   border: none;
    &::before{
      @extend %up;
    }
}

%limiterBtnCloser{
  font-family: 'TT Lakes Medium';
   display: none;
   line-height: 24px;
   letter-spacing: -0.2px;
   padding-top: 24px;
   gap: 16px;
   color: $text;
   background: none;
   border: none;
    &::before{
      @extend %down;
}
}


@import './normalize.scss';
@import '../scss/fonts.scss';
@import './header.scss';
@import './burger-menu.scss';
@import './main-head.scss';
@import './main-brands.scss';
@import './main-technic.scss';
@import './main__price.scss';
@import './footer.scss';
@import './modal.scss';





body {
  font-family: 'TT Lakes';
  background-color: $bgColor;
  color: $text;
  opacity: 1;
  overflow-x: hidden;
  
     @media (min-width: 1440px) {
    max-width: 1440px;
    margin:auto;
   }
}
.opacity{
  opacity: 0.03;
  transition-duration: 1s;
}
.btn-ic{
  border:0;
  background: none;
  padding: 0;
}

.main-section{
  position: relative;
    display: flex;
   flex-direction: column;
}
::-webkit-scrollbar {
  width: 0;
}
